pypandoc==1.4
pytest==2.9.1
ddt==1.1.0
git+https://github.com/elifesciences/elife-tools.git@5b57b1798788cc1c56077601df9a66e8de6a0239#egg=elifetools
git+https://github.com/elifesciences/elife-article.git@53afe11590971788a64fb4790ea96a0967280e1b#egg=elifearticle
requests==2.22.0
docker==4.0.2
mock==1.3.0
configparser==3.5.0